:root {
  --pink-bg: #f8f7f2;
  --dark-bg: #282c34;
  --text-color: #333;
  --accent-color: #e07a8d;
  --sidebar-width: 30%;
  --sidebar-bg: #f8f7f2;
}

.App {
  display: flex;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    height: auto; /* Allow the container to expand as needed */
    overflow-y: visible; /* Enable vertical scrolling */
  }
}
